<!DOCTYPE html>
<html>

    <head>
        <title>Hello World</title>
    </head>

    <body>
        <h1>TODO LIST</h1>
        <div>
            <ul>
                <% for(todo of todoList){ %>
                    <li>
                        <%= todo.todo %>
                            <%= dateformat(todo.created, "yyyy-mm-dd HH:MM" ) %>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div>
            <form action="/" method="POST" enctype="application/x-www-form-urlencoded">
                <label for="todo">TODO</label>
                <input type="text" name="todo">
                <input type="submit" value="登録">
            </form>
        </div>
    </body>

</html>