<!DOCTYPE html>
<html>

    <head>
        <title>Hello World</title>
    </head>

    <body>
        <h1>query parameter[name]</h1>
        <div>
            <%= name %>
        </div>
        <h1>query parameter[count]</h1>
        <div>
            <%= count %>
        </div>
    </body>

</html>